
            .main-title{
                margin : 10px 10px 10px 90px;
            }
            .card-columns{
                display: flex;
                margin : auto 100px auto 100px;
            }

            .card-colums > div.card {
                border: 2px solid grey;
                border-radius:5px;
                float : left;
                width: 21%;
                margin: auto auto auto auto;
            }