<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/userInfoCSS.css">
    <style>
        .wrap {
            min-height: 100vh;
            position: relative;
            width: 100%;
        }

        .button-right {
            float: right;
        }

        .card {
            width: 1100px;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
    <script>
        $(document).ready(function () {
            showUserInfo();
        });

        function showUserInfo(userName) {
            $.ajax({
                type: 'GET',
                url: '/api/member?userName=롤닉네임',
                data: {},
                success: function (response) {
                    let tier = response['tier']
                    let rank = response['rank']
                    let lastGames = response['lastGames']

                    for (let i = 0; i < lastGames.length; i++) {
                        let summonerName = lastGames[i]['summonerName']
                        let championName = lastGames[i]['championName']
                        let teamPosition = lastGames[i]['teamPosition']
                        let kills = lastGames[i]['kills']
                        let deaths = lastGames[i]['deaths']
                        let assists = lastGames[i][`assists`]
                        let win = lastGames[i]['win']
                        let totalMinionsKilled = lastGames[i]['totalMinionsKilled']
                        let timePlayed = lastGames[i]['timePlayed']

                        let temp_html = ``
                    }
                }
            })
        }

    </script>
    <title>LOLinkedIn | 롤크드인</title>
</head>

<body>
<div class="wrap">
    <header>
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"> <img src="../static/logo/logo.png" alt="로고" width="300"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">About<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Member</a>
                        <a class="nav-item nav-link" href="#">Community</a>
                    </div>
                </div>
                <form class="form-inline">
                    <button class="btn btn-dark" type="#">로그인</button>
                </form>
            </nav>
        </div>
    </header>
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                                       src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."/></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">소환사이름 or 이름</h1>
                <span class="badge badge-success">Tier</span>
                <span class="badge badge-success">Success</span>
                <hr>
                <div class="button-right">
                    <a class="btn btn-primary" href="#!">듀오 신청</a>
                    <a class="btn btn-primary" href="#!">❤</a>
                    <a class="btn btn-primary" href="#!">🚨</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">하고싶은말 남기는 곳</p></div>
    </div>
    <hr style="width: 1100px">
    <ul>
        <li>
            <div class="logBox-css">
                <div class="info">
                    <div class="game-result">게임결과</div>
                    <div class="bar"></div>
                    <div class="game-length">게임시간</div>
                </div>
                <div class="position">
                    <div class="icon">
                        <img src="../static/image/bottom.png" alt="포지션아이콘">
                    </div>
                    <div class="name">포지션이름</div>
                </div>
                <div class="champion">
                    <div class="icon">
                        <img src="../static/image/ari.png" alt="챔피언사진">
                    </div>
                    <div class="name">챔피언이름</div>
                </div>
                <div class="kda">
                    <div class="k-d-a">
                        <span>킬</span>
                        /
                        <span style="color: red">데스</span>
                        /
                        <span>어시</span>
                    </div>
                    <div class="status">cs n개</div>
                </div>
            </div>
        </li>
        <li>
            <div class="logBox-css">
                <div class="info">
                    <div class="game-result">게임결과</div>
                    <div class="bar"></div>
                    <div class="game-length">게임시간</div>
                </div>
                <div class="position">
                    <div class="icon">
                        <img src="../static/image/bottom.png" alt="포지션아이콘">
                    </div>
                    <div class="name">포지션이름</div>
                </div>
                <div class="champion">
                    <div class="icon">
                        <img src="../static/image/ari.png" alt="챔피언사진">
                    </div>
                    <div class="name">챔피언이름</div>
                </div>
                <div class="kda">
                    <div class="k-d-a">
                        <span>킬</span>
                        /
                        <span style="color: red">데스</span>
                        /
                        <span>어시</span>
                    </div>
                    <div class="status">cs n개</div>
                </div>
            </div>
        </li>
        <li>
            <div class="logBox-css">
                <div class="info">
                    <div class="game-result">게임결과</div>
                    <div class="bar"></div>
                    <div class="game-length">게임시간</div>
                </div>
                <div class="position">
                    <div class="icon">
                        <img src="../static/image/bottom.png" alt="포지션아이콘">
                    </div>
                    <div class="name">포지션이름</div>
                </div>
                <div class="champion">
                    <div class="icon">
                        <img src="../static/image/ari.png" alt="챔피언사진">
                    </div>
                    <div class="name">챔피언이름</div>
                </div>
                <div class="kda">
                    <div class="k-d-a">
                        <span>킬</span>
                        /
                        <span style="color: red">데스</span>
                        /
                        <span>어시</span>
                    </div>
                    <div class="status">cs n개</div>
                </div>
            </div>
        </li>
        <li>
            <div class="logBox-css">
                <div class="info">
                    <div class="game-result">게임결과</div>
                    <div class="bar"></div>
                    <div class="game-length">게임시간</div>
                </div>
                <div class="position">
                    <div class="icon">
                        <img src="../static/image/bottom.png" alt="포지션아이콘">
                    </div>
                    <div class="name">포지션이름</div>
                </div>
                <div class="champion">
                    <div class="icon">
                        <img src="../static/image/ari.png" alt="챔피언사진">
                    </div>
                    <div class="name">챔피언이름</div>
                </div>
                <div class="kda">
                    <div class="k-d-a">
                        <span>킬</span>
                        /
                        <span style="color: red">데스</span>
                        /
                        <span>어시</span>
                    </div>
                    <div class="status">cs n개</div>
                </div>
            </div>
        </li>
        <li>
            <div class="logBox-css">
                <div class="info">
                    <div class="game-result">게임결과</div>
                    <div class="bar"></div>
                    <div class="game-length">게임시간</div>
                </div>
                <div class="position">
                    <div class="icon">
                        <img src="../static/image/bottom.png" alt="포지션아이콘">
                    </div>
                    <div class="name">포지션이름</div>
                </div>
                <div class="champion">
                    <div class="icon">
                        <img src="../static/image/ari.png" alt="챔피언사진">
                    </div>
                    <div class="name">챔피언이름</div>
                </div>
                <div class="kda">
                    <div class="k-d-a">
                        <span>킬</span>
                        /
                        <span style="color: red">데스</span>
                        /
                        <span>어시</span>
                    </div>
                    <div class="status">cs n개</div>
                </div>
            </div>
        </li>
    </ul>
    <hr style="width: 1100px">
</div>
<footer>
    <div class="footer-container">
        <div class="footer-right">
            <h2>PROJECT TEAM</h2>
            <ul class="team">
                <li>유시준</li>
                <li>강현규</li>
                <li>김예지</li>
                <li>최현우</li>
            </ul>
        </div>
    </div>
</footer>
</div>
</body>


</html>